<!doctype html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="/formBuilder.js"></script>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head>
<body>
<div ng-controller="FormBuilderCtrl">
    <h1>Form Builder</h1>

    <div class="control-group">
        Configure field:
        <button ng-click="configureNumber()">Number</button>
        <button ng-click="configureBoolean()">Boolean</button>
        <button ng-click="configureSingleLineText()">Text</button>
    </div>

    <div class="control-group">
        <span>Number of fields configured: {{fields.length}}</span>
    </div>

    <form name="form">
        <div class="control-group" ng-repeat="field in fields" ng-class="{error: form.this.$invalid}">
            <ng-form name="form">
                <label for="{{field.name}}">{{field.label}}</label>
                <input type="{{field.type}}" id="{{field.name}}" name="this" placeholder="{{field.hintText}}"
                       ng-minlength="{{field.minLength}}" ng-maxlength="{{field.maxLength}}"
                       minLength="{{field.minLength}}" maxLength="{{field.maxLength}}"
                       ng-model="submissions[field.name]" required>
                <span>{{field.unitSymbol}}</span>
                <span ng-show="form.this.$error.required" class="help-inline">Required</span>
            </ng-form>
        </div>
    </form>

    <div class="control-group">
        <span>Form submission JSON: {{submissions | json}}</span>
    </div>
</div>
</body>
</html>