<!doctype html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="/customFields.js"></script>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head>
<body>
<div>
    <h1>Custom Fields</h1>

    <form name="customFields" ng-controller="CustomFieldsCtrl">

        <!--
        <div class="control-group" ng-class="{error: customFields.title.$invalid}">
            <label>Label</label>
            <input type="text" name="fieldName" ng-model="submission.fieldName" placeholder="hintText"
                   ng-minlength="3" ng-maxlength="6" minLength="3" maxLength="6" required>
            <span ng-show="customFields.fieldName.$error.required" class="help-inline">Required</span>
        </div>

        <div class="control-group">
            <span>{{submission | json}}</span>
        </div>
        -->

        <div class="control-group">
            <span>Number of fields configured: {{fields.length}}</span>
        </div>

        <div class="control-group">
            Configure field:
            <button ng-click="configureNumber()">Number</button>
            <button ng-click="configureBoolean()">Boolean</button>
            <button ng-click="configureSingleLineText()">Single Line Text</button>
        </div>

        <div class="control-group" ng-repeat="field in fields">
            {{field.label}}
            <input type="{{field.type}}" name="{{field.name}}" placeholder="{{field.hintText}}"
                   ng-minlength="{{field.minLength}}" ng-maxlength="{{field.maxLength}}"
                   minLength="{{field.minLength}}" maxLength="{{field.maxLength}}"
                   value="{{field.type == 'checkbox' ? true : false}}"
                   ng-model="submissions[field.name]">
            {{field.unitSymbol}}
        </div>

        <div class="control-group">
            <span>JSON: {{submissions | json}}</span>
        </div>
    </form>
</div>
</body>
</html>